.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Btn{
    margin: 2rem;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding: 0.5rem;
    transition: 0.2s;
    border-radius: 50px;
    border: solid black 2px;
}

.Btn:hover{
    background: whitesmoke;
    border:solid whitesmoke 2px;
}

.BtnActive{
    margin: 2rem;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding: 0.5rem;
    border-radius: 50px;
    background: whitesmoke;
    border:solid whitesmoke 2px;
}